<%= provide(:title, 'Terms of Services') %>
<div class="container d-flex justify-content-center align-items-center">
  <%= link_to root_path, class: 'd-flex align-items-center text-decoration-none' do %>
    <%= image_tag 'logo.png', alt: 'Platform Logo', class: 'logo me-3' %>
    <h1 class="display-4 text-white">Soon</h1>
  <% end %>
</div>
<div class="container">
  <br>
  <h1 class="text-center mb-4">Terms of Service</h1>
  <h2>1. Introduction</h2>
  <p>Welcome to Soon. By accessing and using our platform, you agree to comply with and be bound by the following Terms
    of Service. Please read them carefully. If you do not agree to these terms, you should not use our platform.</p>
  <h2>2. User Responsibilities</h2>
  <p>As a user of Soon, you agree to:</p>
  <ul>
    <li>Provide accurate, current, and complete information during registration and use of the platform.</li>
    <li>Maintain the confidentiality of your account and password.</li>
    <li>Be responsible for all activities under your account.</li>
    <li>Follow all applicable laws and regulations while using our platform.</li>
    <li>Respect the intellectual property and rights of others and refrain from uploading content that infringes on
      these rights.
    </li>
  </ul>
  <h2>3. Acceptable Use</h2>
  <p>You may not use Soon for any illegal or unauthorized purpose. Prohibited activities include, but are not limited
    to:</p>
  <ul>
    <li>Posting, uploading, or distributing any content that is offensive, harmful, defamatory, or violates the rights
      of others.
    </li>
    <li>Engaging in harassment, abuse, or any form of threatening behavior towards others.</li>
    <li>Spamming, phishing, or engaging in deceptive practices.</li>
    <li>Attempting to hack, alter, or bypass the security of our platform.</li>
  </ul>
  <h2>4. Content Ownership and License</h2>
  <p>You retain ownership of any content you upload to Soon, but by uploading, posting, or submitting content, you grant
    us a worldwide, royalty-free, and non-exclusive license to use, display, and distribute your content as necessary
    for the operation of the platform.</p>
  <p>We are not responsible for the accuracy, legality, or appropriateness of content posted by users. Users should be
    cautious when interacting with content posted by others.</p>
  <h2>5. Privacy Policy</h2>
  <p>Your privacy is important to us. Please review our <%= link_to "Privacy Policy", privacy_policy_path %>, which
    explains how we collect, use, and protect your personal information.</p>
  <h2>6. Termination of Account</h2>
  <p>We reserve the right to suspend or terminate your account at our discretion if you violate these Terms of Service
    or engage in any conduct that we consider harmful to the platform or other users.</p>
  <h2>7. Disclaimers and Limitation of Liability</h2>
  <p>Our platform is provided "as is" and without warranties of any kind, either express or implied. We do not guarantee
    that the platform will be error-free, secure, or uninterrupted.</p>
  <p>In no event will Soon, its affiliates, or employees be liable for any damages arising from your use of the
    platform, including indirect, incidental, or consequential damages.</p>
  <h2>8. Modifications to Terms</h2>
  <p>We may update these Terms of Service from time to time. Any changes will be posted on this page with an updated
    revision date. Your continued use of the platform after changes have been posted constitutes your acceptance of the
    revised terms.</p>
  <h2>9. Governing Law</h2>
  <p>These Terms of Service will be governed by and construed in accordance with the laws of Türkiye. Any disputes will
    be resolved in the courts located within Türkiye.</p>
  <h2>10. Contact Information</h2>
  <p>If you have any questions about these Terms of Service, please contact us at:</p>
  <ul>
    <li>Email: <a href="mailto:support@soon.com">support@soon.com</a></li>
    <li>Address: Kayışdağı Caddesi Ataşehir/İstanbul Türkiye</li>
  </ul>
  <h2>Acceptance of Terms</h2>
  <p>By using Soon, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.</p>
</div>