document.getElementById("comments-list").insertAdjacentHTML("beforeend", `
  <div class="comment mt-3">
    <p><strong><%= @comment.user.username %>:</strong> <%= @comment.content %></p>
    <small><%= time_ago_in_words(@comment.created_at) %> ago</small>
  </div>
`);

// Clear the form
document.querySelector("textarea").value = "";