<% provide(:title, "Edit Profile") %>
<h1>Edit Profile</h1>

<h2>Edit Options</h2>
<ul>
  <li><%= link_to "Edit Username", edit_username_user_path(@user.username) %></li>
  <li><%= link_to "Edit Email", edit_email_user_path(@user.username) %></li>
  <li><%= link_to "Edit Password", edit_password_user_path(@user.username) %></li>
</ul>