default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV["DB_USERNAME"] || 'username' %> # Update this with credentials
  password: <%= ENV["DB_PASSWORD"] || 'password' %> # Update this with credentials
  host: <%= ENV["DB_HOST"] || "localhost" %>

development:
  <<: *default
  database: myapp_development

test:
  <<: *default
  database: myapp_test
