<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<% if @post.post_type == "photo_post" && @post.photo.attached? %>
  <p><strong>Fotoğraf:</strong></p>
  <%= image_tag @post.photo, style: "max-width: 100%; height: auto; max-height: 500px;" %>
<% else %>
  <p>Fotoğraf mevcut değil.</p>
<% end %>

