@import "bootstrap";
@import "forms";
@import "registration";
@import "style";
@import "bs_theme_overrides";
@import "splash";
@import "project_grid_images";
@import "chat";
// // Custom styles for debugging
// @mixin box-sizing {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

// Custom styles for sticky footer
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container.flex-grow-1 {
    flex: 1;
}

// Custom styles
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.circle-icon {
    width: 75px;
    height: 75px;
    background-color: #f8f9fa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.post {
    width: 100%;
    height: 200px;
    background-color: #ddd;
}

// Custom styles for debugging
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    white-space: pre-wrap;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    border: 5px solid #ccc;
    padding: 40px;
    margin: 10px auto;
    text-align: center;
}